<a href='Category' type="button" class="btn btn-info" ng-click="takeJSONlistFromAPI('category')"><i class="glyphicon glyphicon-arrow-left"></i></a>

<div class="table-responsive">
	<div class="col-md-12">
		<h2 class='headerH2'>CRUD category  {{entity.title}}</h2>
	</div>
	<table class="table">		
		<tr  ng-repeat='(key,value) in entity' ng-if=' key != "_links" '>
			<td>{{key}}</td>
			<td><input type="text" ng-model='value'/></td>
		</tr>		
		<!--tbody ng-repeat='(relKey,relValue) in entity_relateds'>
			<tr ng-repeat='(key,value) in relValue' ng-if=' key != "_links" '>
				<td>{{key}}</td>
				<td><input type="text" ng-model='value'/></td>
			</tr>
		</tbody-->  	
	</table>	
</div>