<a href='Event' type="button" class="btn btn-info" ng-click="takeJSONlistFromAPI('event')"><i class="glyphicon glyphicon-arrow-left"></i></a>


<div class="btn-group pull-right">
  <button  ng-click="create()" type="button" class="btn btn-primary"><i class="fa fa-plus-circle"></i> create</button>
  <button  ng-click="delet()" type="button" class="btn btn-primary"><i class="fa fa-times"></i> delete</button>
</div>

<!--EventCard-->
<div class="col-md-12 eventCard">

	<!--avatar-->
	<div ng-repeat='(propKey, propValue) in entity_relateds' ng-if=' propValue.propertyName == "previewImage" ' class="col-md-4 col-sm-12 col-xs-12 userProfileAvatar card">
		<div class='avatarka' style='background-image:url("{{propValue.propertyData.fullUrl}}");'></div>
	</div>

	<div class="col-md-1 offset"></div>

	<!--infoblock-->
	<div class="col-md-7 col-sm-12 col-xs-12  infoblock text-center card">
		<button ng-click="sendReformedEntityObjectToAPI($event, 'update', true)" class='update' title='update'><i class="glyphicon glyphicon-save"></i></button>
		<!--eventname-->
		<div class="col-md-12 userName item">
			<h2 class='col-md-4 glyphicon glyphicon-eye-open'> event title</h2>
			<input class="col-md-8" type="text" ng-model='entity.title'>
		</div>
		<!--# eventname-->

		<!--about-->
		<div class="col-md-12 about item">
			<figure><i class='fa fa-info-circle'></i> about</figure>
			<textarea rows="4" ng-model="entity.about"></textarea>
		</div>
		<!--# about-->

		<!--dates-->
		<div class="col-md-12 dates item">
			<div class="col-md-4 date">
				<figure class='col-md-12 glyphicon glyphicon-calendar'> date</figure>
				<input type="text" class='col-md-12' ng-model='entity.date'>
			</div>
			<div class="col-md-4 likes">
				<figure class='col-md-12 glyphicon glyphicon-dashboard'> expiration date</figure>
				<input type="text" class='col-md-12' ng-model='entity.expirationDate'>
			</div>
			<div class="col-md-4 shares">
				<figure class='col-md-12 glyphicon glyphicon-dashboard'> creation date</figure>
				<input type="text" class='col-md-12' ng-model='entity.creationDate'>
			</div>
		</div>
		<!--# dates-->


		<!--age-likes-shares-->
		<div class="col-md-12 als item">
			<div class="col-md-4 seating">
				<figure class='col-md-12 fa fa-hand-o-down'> seating</figure>
				<input type="text" class='col-md-12' ng-model='entity.seating'>
			</div>
			<div class="col-md-4 likes">
				<figure class='col-md-12 fa fa-heart'> likes</figure>
				<input type="number" class='col-md-12' ng-model='entity.likes'>
			</div>
			<div class="col-md-4 shares">
				<figure class='col-md-12 fa fa-share-alt'> shares</figure>
				<input type="number" class='col-md-12' ng-model='entity.shares'>
			</div>
		</div>
		<!--# age-likes-shares-->

		<!--IDs-->
		<div class="col-md-12 ids item">
			<div class="col-md-6 userId">
				<figure class='col-md-7 glyphicon glyphicon-user'> user ID</figure>
				<input type="number" class='col-md-5' ng-model='entity.userId'>
				<div class="col-md-12 item">
					<a class='col-md-12' href='userItem' data-id='{{entity.userId}}' ng-click='takeEntity($event,"user/")'>http://bamos-api.gdsln.com:33089/admin/user/{{entity.userId}}</a>
				</div>
			</div>
			<div class="col-md-6 categoryId">
				<figure class='col-md-7 fa fa-database'> category ID</figure>
				<input type="number" class='col-md-5' ng-model='entity.categoryId'>
				<div class="col-md-12 item">
					<a class='col-md-12' href='category' data-id='{{entity.categoryId}}' ng-click='takeEntity($event,"category/")'>http://bamos-api.gdsln.com:33089/admin/category/{{entity.categoryId}}</a>
				</div>
			</div>
		</div>
		<!--# IDs-->


	</div>
	<!--# infoblock-->

</div>
<!--# EventCard-->



<div class="clearfix"></div>




<div class="col-md-12 eventCardMini  text-center">
	<!--location-->
	<div ng-repeat='(propKey, propValue) in entity_relateds' ng-if=' propValue.propertyName == "location" ' class="col-md-5 col-sm-12 col-xs-12 geo infoblock card">
		<button ng-click="sendReformedEntityObjectToAPI($event, 'update', false)" data-objectname='{{propValue.propertyName}}' class='update glyphicon glyphicon-save' title='update'></button>
		<div class="col-md-12 item">
			<div class="col-md-6 city">
				<figure class='glyphicon glyphicon-road'> location</figure><br/>
				<input type="text" ng-model='propValue.propertyData.title'>
				<input type="text" ng-model='propValue.propertyData.description'>
			</div>
			<div class="col-md-6 location">
				<div class="col-md-12">
					<figure class='col-md-6 glyphicon glyphicon-globe'> latitude</figure>
					<input type="number" class='col-md-6' ng-model='propValue.propertyData.latitude'>
				</div>
				<div class="col-md-12">
					<figure class='col-md-6 glyphicon glyphicon-globe'> longitude</figure>
					<input type="number" class='col-md-6' ng-model='propValue.propertyData.longitude'>
				</div>
			</div>
		</div>
	</div>
	<!--# location-->
	<div class="col-md-2 offset"></div>
	<!--invitation-->
	<div ng-repeat='(propKey, propValue) in entity_relateds' ng-if=' propValue.propertyName == "invitation" ' class="col-md-5 col-sm-12 col-xs-12 invitation infoblock card">
		<button ng-click="sendReformedEntityObjectToAPI($event, 'update', false)" data-objectname='{{propValue.propertyName}}' class='update glyphicon glyphicon-save' title='update'></button>
		<div class="col-md-12 item">
			<div class="col-md-3 count">
				<figure class='col-md-12 fa fa-signal'> count</figure>
				<input type="number" class='col-md-12' ng-model='propValue.propertyData.count'>
			</div>
			<div class="col-md-3 gender">
				<figure class='col-md-12 fa fa-venus-mars'> gender</figure>
				<input type="text" class='col-md-12' ng-model='propValue.propertyData.gender'>
			</div>
			<div class="col-md-3 minAge">
				<figure class='col-md-12 fa fa-sort-numeric-asc'> min age</figure>
				<input type="number" class='col-md-12' ng-model='propValue.propertyData.minAge'>
			</div>
			<div class="col-md-3 maxAge">
				<figure class='col-md-12 fa fa-sort-numeric-desc'> max age</figure>
				<input type="number" class='col-md-12' ng-model='propValue.propertyData.maxAge'>
			</div>
			<!--description-->
			<div class="col-md-12 about item">
				<figure><i class='fa fa-info-circle'></i> description</figure>
				<textarea rows="4" ng-model="propValue.propertyData.description"></textarea>
			</div>
			<!--# description-->
		</div>
		<!--# invitation-->
	</div>
</div>

<!--EventImages-->
<div class="col-md-12 eventImages card">

</div>
<!--# EventImages-->